* {
    box-sizing: border-box;
}
.main-content{
    width:960px;
    margin:20px auto;
}

.fl{
    float:left;
    width:50%;
}

.fr{
    float:right;
    width:50%;
}

@media screen and (max-width: 500px) {
    body {
        color: blue;
    }
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    p {
        background-color: grey;
    }
}

@media screen and (min-width: 960px) {
    ol {
        font-size: 20px;
    }
}

/* Challenge 3*/

@media screen and (max-width: 400px) {
    .main-content {
        clear: both;
        width: 100%;
        font-size: default;
    }
    .fl {
        width: 100%;
    }
    .fr {
        width: 100%;
    }
}